body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Tái sử dụng */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.l-4 {
  width: 33.3333%;
  padding-right: 16px;
  padding-left: 16px;
}
.l-5{
  width: 41.66667%;
  padding-left: 16px;
  padding-right: 16px;
}
.l-6{
  width: 50%;
  padding-left: 16px;
  padding-right: 16px;
}
.l-7{
  width: 58.33333%;
  padding-left: 16px;
  padding-right: 16px;
}
.l-9{
  width: 75%;
  padding-left: 16px;
  padding-right: 16px;
}
.active{
  color: #2196f3 !important;
}
.App {
  text-align: center;
}
ul{
  list-style: none;
}
.container{
  margin-top: 80px;
}
.scroll-top-btn{
  display: none;
}
/*  */

/* header css */
.App-header {
  background-color: #282c34;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.info h2 {
  font-size: 30px;
}
.info p {
  font-size: 16px;
}
.nav-list{
  width: 400px;
  display: flex;
  list-style: none;
  margin-left: 0;
  justify-content: space-around;
}
.nav .nav-item a{
  text-decoration: none;
  color: white;
}
.menu-btn{
  display: none;
}
/*  */

/* About component */
.description{
  text-align: left;
}
.description h1 {
  font-size: 70px;
  margin: 0 0 16px 0;
}
.description p:first-of-type {
  font-size: 24px;
  font-weight: 500;
}
.switch-box {
  margin: 30px 0;
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.switch-box a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  line-height: 27px;
  text-align: center;
}
.btn {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 18px;
  display: flex;
}
.btn-resume {
  border: 1px solid black;
}
.btn-resume a {
  color: black;
}
.btn-products{
  background-color: black;
}
.btn-products a{
  color: white;
}
.about-me{
  text-align: justify;
  margin-bottom: 50px;
  line-height: 1.7;
}
.about-content{
  padding: 100px 0;
  background-image: url('./img/about-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 0.3s linear;
}
.tab-avatar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: #b8d1c1;
  position: relative;
  margin: auto;
  border-radius: 10px;
}
.avatar{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  position: absolute;
  width: 214%;
  left: -72PX;
  top: -191PX;
}
.spearate{
  width: 40px;
  border-bottom: 4px solid #2660d3;
}
.link-to-me{
  display: flex;
  z-index: 10;
  justify-content: center;
  margin: 0;
}
.link-to-me li:first-child{
  margin-right: 20px;
}
.link-to-me a{
  color: black;
  font-size: 40px;
}
/*  */

/* Resume component */
.resume-content, .products-content{
  background: radial-gradient(circle, rgba(77,94,126,1) 17%, rgba(40,44,52,1) 55%, rgba(0,0,0,1) 100%);
  padding-bottom: 36px;
  animation: fadeIn 0.3s linear;
}
.resume-content > h1, .products-content h1{
  margin-top: 24px;
  display: inline-block;
  color: white;
}
.education  .education-content{
  margin-top: 24px;
}
.tittle{
  justify-content: space-between;
  margin-top: 46px;
}
.tittle h2{
  color: white;
}
.btn-dowload-cv, .btn-move-to-products{
  height: 36px;
  width: 120px;
  text-decoration: none;
  border-radius: 20px;
  line-height: 33px;
  color: white;
  background-color: #2196f3;
  animation: scaleUpBtn 1.5s linear infinite;
}
.btn-move-to-products{
  width: 150px;
}
.btn-dowload-cv{
  margin-top: 36px;
}
@keyframes scaleUpBtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.btn-dowload-cv:hover, .btn-move-to-products:hover{
  background-color: cadetblue;
  color: coral;
}
.education-content, .skill-content{
  box-shadow: 3px 4px 14px 2px #282c3499;
  border-radius: 10px;
  padding: 16px 0;
  background-color: white;
}
.education-content > div:not(:last-child){
  margin-bottom: 24px;
}
.education-content h2{
  margin-bottom: 8px;
  text-align: left;
  margin-left: 16px;
  color: #2660d3;
}
.education-course{
  width: 100%;
  justify-content: space-between;
  margin-left: 0;
}
.education-course h4{
  font-weight: 500;
}
.education-course h5{
  font-weight: 400;
}
.school-course, .skill-name, .skill-used, .knowledge{
  text-align: left;
}
.skill-content{
  margin-top: 24px;
  margin-left: 0;
   margin-right: 0;
}
/*  */

/* Products component */
.products-content{
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}
.products-content > h1{
  margin-top: 24px;
}
.products-content > p{
  margin-top: 20px;
  text-align: justify;
  font-size: 20px;
  color: white;
  padding: 0;
}
.product{
  background-color: white;
  margin-top: 36px;
  display: flex;
  align-items: flex-start;
} 
.products-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.product-text{
  text-align: left;
  padding-bottom: 20px;
}
.product-name{
  margin-top: 24px;
  position: relative;
}
.product-name::before{
  content: "";
  background-color: cornflowerblue;
  height: 100%;
  width: 10px;
  position: absolute;
  left: -32px;
}
.product-desc{
  margin-top: 24px;
}
.product-view{
  padding-right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}
.product-view::after{
  content: "";
  width: 100%;
  height: 20px;
  background-image: url('./img/product-after.png');
  position: absolute;
  right: 0;
}
.preview{
  display: block;
  border: 1px solid #00000021;
}
.preview img{
  width: 100%;
}
@keyframes fadeIn {
  from{
    transform: translateX(1000px);
  }
  to{
    transform: translateX(0px);
  }
}
/*  */

/* footer css */
.footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  background-color: #282c34;
}

.footer h3, .footer p {
  color: aliceblue;
}
/*  */